doctype html
html(lang="en")
  head
    title= pageTitle

    link(href="/static/mjolnirr-util/css/main.css", rel="stylesheet")
    link(href="/static/mjolnirr-util/css/bootstrap.css", rel="stylesheet")
    link(href="/static/mjolnirr-util/css/bootstrap-theme.css", rel="stylesheet")

    script(src="/static/mjolnirr-util/js/main.js")
    script(src="/static/mjolnirr-util/js/jquery.js")
    script(src="/static/mjolnirr-util/js/json2.js")
    script(src="/static/mjolnirr-util/js/jquery.form.js")
    script(src="/static/mjolnirr-util/js/bootstrap.min.js")
    script(src="/static/mjolnirr-util/js/bootbox.js")
    script(type='text/javascript').
      var globalApplicationName="#{appName}";
  body
    nav.navbar.navbar-default(role="navigation")
      .container-fluid
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav
            li
              #collapse-sidebar.btn.btn-success <<
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown") Components
              ul.dropdown-menu
                for component in components
                  li
                    a(href="/#{component.componentName}")= component.displayName
    #util.panel.panel-default
      .panel-heading Active containers

      ul#containers.list-group
      script(type='text/javascript').
        $(function() {
            if (localStorage.getItem("utilPaneCollapsed") === "true") {
                $('#util').css("left", '-300px');
                $('#main-content').css("left", '0px');

                $('#collapse-sidebar').text(">>");
            }
        });

        $('#collapse-sidebar').click(function(){
            if ((localStorage.getItem("utilPaneCollapsed") === null) || (localStorage.getItem("utilPaneCollapsed") === "false")) {
                $('#util').stop().animate({left: '-=300'},500);
                $('#main-content').stop().animate({left: '-=300'},500);

                localStorage.setItem("utilPaneCollapsed", true);
                $('#collapse-sidebar').text(">>");
            } else {
                $('#util').stop().animate({left: '+=300'},500);
                $('#main-content').stop().animate({left: '+=300'},500);

                localStorage.setItem("utilPaneCollapsed", false);
                $('#collapse-sidebar').text("<<");
            }
        });

        // Render containers
        function renderActiveContainers() {
            if (localStorage.getItem("utilPaneCollapsed") === "true") {
                return;
            }

            callRemoteMethod({
                appName: "admin"
                , method: "getContainersState"
                , args: []
                , onSuccess: function(result) {
                    $("#containers").empty();

                    for (var i = 0 ; i < result.length ; i++) {
                        var ownerTaskNames = "";

                        for (var j = 0 ; j < result[i].executionsCount ; j++) {
                            if (j < result[i].ownerExecutions.length) {
                                ownerTaskNames += result[i].ownerExecutions[j];
                            }
                            if (j < (result[i].ownerExecutions.length - 1)) {
                                ownerTaskNames += ", ";
                            }
                        }

                        $("#containers").append(
                                "<li class='mjolnirr-container list-group-item' id='"
                                + result[i].containerID
                                + "'>"
                                + result[i].containerID
                                + "<span title='" + result[i].executionsCount + " task(s) now executed' class='badge'>"
                                + result[i].executionsCount
                                + "</span>"
                                + "<span title='Your tasks: " + ownerTaskNames + "' class='alert-success badge'>"
                                + result[i].ownerExecutions.length
                                + "</span></div>");
                    }
                }
                , onError: function(err) {
                    var message = "Something went wrong! \n" + err.message;
                    console.log(err);
                }
            });
        }

        window.setInterval(renderActiveContainers, 2000);
    #main-content
      != body