link(href="/static/calculator/interface/css/common.css", rel="stylesheet")
script(src="/static/calculator/interface/js/calculator.js")

.center-block(style="width: 200px")
  h3 Simple calculator
  table
    tr
      td(colspan=4)
        input.form-control#calculator-string(type="text", disabled)
    tr
      td(colspan=2)
        button.calc-btn.btn.btn-warning(onclick="clearField();", style="width: 100px;") Clear
      td(colspan=2)
        button.calc-btn.btn.btn-default(onclick="removeLastSymbol();", style="width: 100px;") Backspace
    tr
      td
        button.calc-btn.btn.btn-default(onclick="addToField('7');") 7
      td
        button.calc-btn.btn.btn-default(onclick="addToField('8');") 8
      td
        button.calc-btn.btn.btn-default(onclick="addToField('9');") 9
      td
        button.calc-btn.btn.btn-default(onclick="addToField('/');") /
    tr
      td
        button.calc-btn.btn.btn-default(onclick="addToField('4');") 4
      td
        button.calc-btn.btn.btn-default(onclick="addToField('5');") 5
      td
        button.calc-btn.btn.btn-default(onclick="addToField('6');") 6
      td
        button.calc-btn.btn.btn-default(onclick="addToField('*');") *
    tr
      td
        button.calc-btn.btn.btn-default(onclick="addToField('1');") 1
      td
        button.calc-btn.btn.btn-default(onclick="addToField('2');") 2
      td
        button.calc-btn.btn.btn-default(onclick="addToField('3');") 3
      td
        button.calc-btn.btn.btn-default(onclick="addToField('-');") -
    tr
      td
        button.calc-btn.btn.btn-default(onclick="addToField('0');") 0
      td
        button.calc-btn.btn.btn-default(onclick="addToField('.');") .
      td
        button.calc-btn.btn.btn-success(onclick="calc();") =
      td
        button.calc-btn.btn.btn-default(onclick="addToField('+');") +