/* main.css */

#collapse-sidebar {
    margin: 7px;
    margin-left: -22px;
}

#util {
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px;
    width: 300px;

    padding: 10px;
}

#main-content {
    position: absolute;
    top: 50px;
    left: 300px;
    right: 0px;
    bottom: 0px;

    padding: 10px;
}

.badge {
    cursor: default;
}

li.script.selected {
    background-image: linear-gradient(to bottom, #FFD700 0%, #fFE933 100%);
}

li.script.active {
    background-image: linear-gradient(to bottom, #F00 0%, #E00 100%);
}