script(src="/static/admin/js/admin.js")
h3 Balancer scripts
button.btn.btn-success(onclick = "createBalancerScript();") Create script
ul#container-list(style="width:300px;list-style-type: none;margin-top:10px;")
  for script in scripts
    if script.active
      li.script.well.active(id="#{script.scriptID}", onclick="showScript('#{script.scriptID}', '#{script.scriptName}', '#{script.scriptContent}', #{script.modifiable});", style="margin-left: -40px;width: 280px;margin-bottom:0px;cursor: pointer;")
        span #{script.scriptName}
    else
      li.script.well(id="#{script.scriptID}", onclick="showScript('#{script.scriptID}', '#{script.scriptName}', '#{script.scriptContent}', #{script.modifiable});", style="margin-left: -40px;width: 280px;margin-bottom:0px;cursor: pointer;")
        span #{script.scriptName}
button#save-script-button.btn.btn-success(onclick="saveBalancerScript();", style="position: absolute;top: 70px;left: 710px;width: 100px;") Save
button#activate-script-button.btn.btn-success(onclick="setActive();", style="position: absolute;top: 70px;left: 820px;width: 100px;") Set active
button#fork-script-button.btn.btn-success(onclick="fork();", style="position: absolute;top: 70px;left: 930px;width: 100px;") Fork
button#delete-script-button.btn.btn-success(onclick="deleteBalancerScript();", style="position: absolute;top: 70px;left: 1040px;width: 100px;") Delete
button#delete-script-button.btn.btn-success(onclick="testBalancerScript();", style="position: absolute;top: 70px;left: 1150px;width: 100px;") Test
input#script-id(type="hidden", value="")
input#script-name.form-control(type="text", style="position: absolute;top: 70px;width: 400px;left: 300px;")
#editor(style="position: absolute; top: 110px; left: 300px; right: 0; bottom: 0;")
script(src="/static/mjolnirr-util/js/ace.js", type="text/javascript", charset="utf-8")
script
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/groovy");