script(src="/static/admin/js/admin.js")
form(action="/request", enctype="multipart/form-data", method="post")
  input.form-control(type="hidden", name="applicationName", value="admin")
  input.form-control(type="hidden", name="methodName", value="uploadComponent")
  input.form-control(type="file", name="component")
  input.btn.btn-success(type="submit", value="Send")
h3 Components
ul#component-list
  for component in components
    li.component
      span #{component.componentName}
        button(onclick="removeComponent('#{component.componentName}');") Remove