script(src="/static/admin/js/admin.js")
h3 Certificates
button.btn.btn-success(onclick = "generateCertificate();") Generate certificate
ul#certificate-list
  for cert in certs
    li#user
      span
        = cert.serial
      button(onclick="downloadContainerCertificate('#{cert.serial}');") Download certificate
      button(onclick="deleteContainerCertificate('#{cert.serial}');") Delete certificate
h3 Containers
ul#container-list
  for container in containers
    li.container
      span #{container.containerName}, #{container.containerID} on #{container.hostName}
      ul.component-list
        for component in container.loadedComponents
          li.component
            span #{component}
            button(onclick="unloadComponent('#{container.containerID}', '#{component}');") Unload