script(src="/static/admin/js/admin.js")
button(onclick="createUser();") Create user
ul#user-list
  for user in users
    li#user
      span
        = user.username
      span
        = user.role
      if user.role != "admin"
        button(onclick="downloadCertificate('#{user.serial}');") Download certificate
        button(onclick="deleteUser('#{user.serial}');") Delete user